:root {
  --primary-color: #64b5f6;
  --secondary-color: #1565c0;
  --dark-color: #333333;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

/* UTILITY */

.containerUser {
  color: #f4f4f4;
  margin: auto;
  text-align: center;
  max-width: 1500px;
}
.input-field label {
  color: #fff;
}

.checkbox,
.radio {
  margin: 1rem 75px 0px 0px;
}

form {
  display: block;
}

h1 {
  margin-bottom: 2rem;
}

nav {
  /* background-color: #99ccff; */
  position: sticky;
  top: 0;
  left: 0;
  z-index: 25;
  /* border-bottom: 2px solid #99ccff; */
}

nav::after {
  content: "";
  background: #333;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0em;
  width: 100%;
  height: 100%;
  z-index: -1;
}

a {
  width: 200px;
}

.btn-light {
  text-align: center;
  display: block;
  border: none;
  background-color: #90caf9;
  padding: 1rem 1.5rem;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 1rem;
  margin: 1rem 0.5rem;
  width: 160px;
  font-size: 1rem;
  transition-property: background, color, width;
  transition: 0.5s ease-in-out;
}

.btn-light:hover {
  background-color: #1565c0;
  color: white;
  width: 180px;
}

.btn-dark {
  text-align: center;
  display: block;
  border: none;
  background-color: #333;
  padding: 1rem 1.5rem;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 1rem;
  margin: 1rem 0.5rem;
  width: 160px;
  font-size: 1rem;
  color: white;
}

.btn-dark:hover {
  background-color: #555;
  /* color: white; */
}

a {
  font-size: 1rem;
}

.form-input {
  padding: 1rem;
  margin: 1rem;
}
nav ul a {
  padding: 0 40px;
  font-size: 1.2rem;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: #555555;
  color: #333;
}
.alert-danger {
  background: #d32f2f;
  color: #fff;
}
.alert-success {
  background: #43a047;
  color: #fff;
}

.flex-rewind {
  display: flex;
}

.inside {
  position: relative;
  flex: 5;
  padding: 0px 2rem 2rem 2rem;
  max-width: 600px;
  margin: auto;
  margin-top: 1rem;
  border: solid 2px;
  border-radius: 15px;
  background: #333;
  min-height: 850px;
  max-height: 900px;
}
.inside.msg-flex {
  margin: auto;
  padding: 0px 0rem 0rem 1rem;
}

.flex-rewind > p {
  padding: 50px 30px 50px 30px;
  margin: 20px;
  border: solid 2px;
  border-radius: 20px;
  align-self: center;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  transition-property: background, color;
  transition: 0.5s ease-in-out;
}

.flex-rewind > p:hover {
  background: #555;
  color: #1e90ff;
}

.flex-rewind p {
  flex: 1;
  /* border: 5 px solid; */

  /* align-self: center; */
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #333;
}

.header {
  font-size: 2.8rem;
  padding: 2rem;
}

#person {
  line-height: 4rem;
  font-size: 2rem;
}
#age {
  line-height: 2rem;
  font-size: 1.5rem;
}
.about {
  line-height: 2rem;
  font-size: 1.4rem;
  color: #1e90ff;
  padding-bottom: 1rem;
}
#description {
  line-height: 2rem;
  font-size: 1.1rem;
  text-align: justify;
}

footer {
  margin-top: 2rem;
}

.icon-bottom {
  /* padding: 0 2rem; */
  margin: 0 2rem;
  /* border: 2px solid white; */
  color: #99ccff;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

.icon-bottom:hover {
  color: #1565c0;
}

#img-main {
  height: 400px;
  max-width: 500px;
  object-fit: contain;
  border-bottom: solid 2px #1e90ff;
}

.img-relative {
  position: absolute;
  display: block;
  bottom: 0;
  padding-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  left: 0;
  right: 0;
}

.img-relative .heart-icon {
  box-shadow: rgb(220, 20, 60) 0px 0px 40px -2px;
  background: #555;
  display: inline-block;
  color: #dc143c;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  border: solid #dc143c 1px;
  padding: 20px;
  border-radius: 20px;
  min-width: 200px;
  width: 100%;
  cursor: pointer;
  transition: box-shadow 0.5s ease-in-out 0s;
}
.img-relative .heart-icon:hover {
  box-shadow: rgb(220, 20, 60) 0px 0px 40px 20px;
}

.flex-like-message {
  display: flex;
  /* align-items: flex-end; */
  justify-content: space-around;
  width: 100%;
}

.msg-flex {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
}

.msg {
  max-width: 400px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 0.75rem;
  margin-right: 1rem;
}

.from-msg {
  text-align: left;
  display: block;
  word-wrap: break-word;
  background-color: #555555;
}

.to-msg {
  text-align: right;
  display: block;
  word-wrap: break-word;
  background-color: #1e90ff;
  align-self: flex-end;
}
.msg-write {
  align-self: flex-end;
}
.pointer {
  cursor: pointer;
}

.msg-write input[type="text"] {
  overflow: initial;
  background-color: #cfd8dc;
  border-radius: 10px;
  min-width: 400px;
  max-width: 450px;
  padding: 0 20px;
}

.img-relative .message-icon {
  box-shadow: rgb(30, 144, 255) 0px 0px 40px -2px;
  background: #555;
  min-width: 200px;
  width: 100%;
  display: inline-block;
  color: #1e90ff;
  margin-bottom: 1.5rem;
  margin-right: 1rem;
  align-self: flex-end;
  border: solid #1e90ff 1px;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: box-shadow 0.5s ease-in-out 0s;
}
.img-relative .message-icon:hover {
  box-shadow: rgb(30, 144, 255) 0px 0px 40px 20px;
}

.img-relative .message-icon span {
  display: inline-block;
  color: white;
  font-size: 1.5rem;
}

.heart-icon span {
  color: white;
  font-size: 1.5rem;
}

.upper-flex {
  max-width: 900px;
  display: flex;
  margin: auto;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.border-bottom {
  padding-bottom: 20px;
  border-bottom: 2px solid #1565c0;
  max-width: 700px;
  margin: auto;
  margin-bottom: 2rem;
}
nav a {
  width: auto;
  text-align: left;
}
.left {
  padding-left: 2rem;
}

.brand-logo:hover {
  cursor: pointer;
}

h5 {
  margin-bottom: 3rem;
}
/* nav::before {
  content: "";
  background-color: red;
  opacity: 50%;
  z-index: 2;
  /* border-bottom: 2px solid #99ccff; */

/* .upper-flex .btn-light {
  display: flex;
  margin: 1rem 0rem;
  flex: 1;
} */

.bottom-flex form {
  align-content: center;
  align-items: center;
  flex: 1;
}

.fa-heartbeat {
  color: #dc143c;
}

.far,
.fas {
  cursor: pointer;
}
